<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="../css/styles.css"/>
    <title>Document</title>
</head>
<body>
    <%- include('../template/nav.ejs') %>
    <div class="container-fluid px-4">
        <div class="row g-3 my-2">
            <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">720</h3>
                        <p class="fs-5">Products</p>
                    </div>
                    <i class="fas fa-gift fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </div>

            <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">4920</h3>
                        <p class="fs-5">Sales</p>
                    </div>
                    <i
                        class="fas fa-hand-holding-usd fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </div>

            <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">746</h3>
                        <p class="fs-5">Order</p>
                    </div>
                    <i class="fas fa-truck fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </div>

            <div class="col-md-3">
                <div class="p-3 bg-white shadow-sm d-flex justify-content-around align-items-center rounded">
                    <div>
                        <h3 class="fs-2">%25</h3>
                        <p class="fs-5">Increase</p>
                    </div>
                    <i class="fas fa-chart-line fs-1 primary-text border rounded-full secondary-bg p-3"></i>
                </div>
            </div>
        </div>
        <table class="table table-bordered border-dark table-hover bg">
            <thead class="bg-light">
              <tr>
                <th scope="col">id</th>
                <th scope="col">Nama Pembeli</th>
                <th scope="col">No Telp</th>
                <th scope="col">Alamat</th>
                <th scope="col">Nama Barang</th>
                <th scope="col">Harga</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Total</th>
                <th scope="col">Bukti TF</th>
                <th scope="col">tanggal</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
                <% Order.forEach(e => { %>
                    <form action="/admin/api/transaksi/<%= e.id_order %>/<%= e.produk.id_barang %> /<%= e.user.nama_pembeli %>/<%= e.user.no_telp %>/<%= e.user.alamat %>/<%= e.produk.nama_barang %>/<%= e.produk.harga %>/<%= e.jumlah %>/<%= e.info %>/<%= e.produk.gambar %>  " method="post">
                        <tr>
                            <td><%= e.id_order %> </td>
                            <td><%= e.user.nama_pembeli %> </td>
                            <td><%= e.user.no_telp %> </td>
                            <td><%= e.user.alamat %> </td>
                            <td><%= e.produk.nama_barang %> </td>
                            <td><%= e.produk.harga %> </td>
                            <td><%= e.jumlah %> </td>
                            <td><%= e.produk.harga*e.jumlah %> </td>
                            <td><img src="../img/<%= e.info %>" width="60px" height="40px"></td>
                            <td ><%= e.updatedAt.toLocaleDateString() %> </td>
                            <td>
                                <button onclick= <%= "del("+e.id_order+")" %>  type="button" class="btn btn-danger">Tolak</button>
                                <button type="submit" class="btn btn-success" onclick=<%= "konfirmasi("+e.id_order+")"  %> >Terima</button>                        
                            </td>
                        </tr>
                    </form>
                <% }) %>
            </tbody>
          </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    const konfirmasi = (id) =>{
        alert(`Data Pemesanan dengan id ${id} Berhasil Ditambahkan`)
    }
    const del = (id) =>{
        const konfirmasi = confirm('Are you delete id : ' +id);
        if (konfirmasi == true){
            axios.delete('/admin/api/order/'+id).then(result =>{
            location.reload()
            }).catch(err =>{
                alert('error : '+err)
            });
        }
        else{
            alert("gagal")
        }
    }
    var el = document.getElementById("wrapper");
    var toggleButton = document.getElementById("menu-toggle");
    toggleButton.onclick = function () {
        el.classList.toggle("toggled");
    };
    const change = document.getElementById('title').innerHTML = "Order";
</script>
</html>